body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #e9ecff;
    width: 100%;
    align-items: center;
    font-family: "Geist Mono", sans-serif;
    text-indent: 10px;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav ul{
    display: flex;
    margin: 20px;
    align-items: center;
    text-align: center;
}

nav li{
    list-style: none;
    padding: 10px;
}

nav img{
    margin: 10px;
    padding: 10px;
    width:220px;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-weight:normal;
    color:black;
    text-transform: uppercase;

}

@keyframes scroll-right {
    0% {
        /* Start off the left edge of the screen */
        transform: translateX(-100%); 
    }
    100% {
        /* End off the right edge of the screen (100vw = 100% of viewport width) */
        transform: translateX(100vw);
    }
}


.caption{
    padding-top: 70px;
    border-bottom: 2px solid black; 
}

.caption p{
    margin: 0px;
    font-family: 'Anek Tamil',sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size:120px ;
    animation: scroll-right 13s linear infinite;
    display: inline-block;
    white-space: nowrap;
    padding: 10px 0px;

}
.caption-2{
    border-bottom: 2px solid black; 
}

.caption-2 p{
    margin: 0px;
    font-family: 'Anek Tamil',sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size:120px ;
    animation: scroll-right 10s linear infinite;
    display: inline-block;
    white-space: nowrap;
    padding: 10px 0px;

}

.second_part_cap{
    color: #808cfd;
}

.app-link{
    text-align: center;
    background-color: #808cfd;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
}

#home{
    display: flex;
    border-bottom: 2px solid black;
}

#home img{
    width: 66%;
    border-right: 2px solid black;
}

.home-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid black;
}

.home-div h1{
    font-family: 'Anek Tamil',sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size:60px ;
    padding-left: 20px;
}

.home-div p{
    font-family: 'Geist Mono',sans-serif;
    font-weight: 400;
    font-size:20px ;
    padding: 0px 30px 50px 20px;
}

#about{
    display: grid;
    width: 100%; 
    grid-template-columns: 1fr 1fr 1.05fr;
    gap: 10px;
    border-bottom: 2px solid black;
}


#about img{
width: 100%;
}

.community{
    display: flex;
    justify-content: space-between;
}

.community-text{
    display: grid;
    grid-template-rows: 1.2fr 1fr 1fr 1fr;
}

.community-header{
    font-family: 'Anek Tamil',sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size:30px ;
    padding-left: 10px;
    border-bottom: 2px solid black;
}

.community-div {
    border-bottom: 2px solid black;
}
.community-div h2{
    font-family: 'Anek Tamil',sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 10px;
    font-size:40px ;

}
.community img{
    width:70% ;
}
.community p{
    font-family: "Geist",sans-serif;
    padding-left: 10px;
    font-size:23px ;
}
.reserving{
    display:flex;
    flex-direction:column;
    width:100%;
    height:500px ;
    background-color: #808cfd;
    align-items: center;
    justify-content: center;
}
.reserving p{
    font-family:'Geist',sans-serif;
    margin:30px 0px 20px 0px ;
    text-transform: uppercase;
    font-size:20px ;
}
.reserving h1{
    font-family: 'Anek Tamil',sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size:40px ;
    margin-top:0px ;
    margin-bottom:30px ;
}
.reserving button{
    background-color: white;
    font-family: 'Anek Tamil',sans-serif;
    color: black;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    font-weight:normal;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.reserving button:hover{
    background-color: #e9ecff;
    transition: 0.3s;
}
footer{
    border-top: 2px solid black;
    background-color: #e9ecff;
    width: 100%;
    display:flex;
    height:600px;
    justify-content: space-between;
}
.footer-div1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom:30px;
}
.footer-div1 h2{
    font-family: 'Anek Tamil',sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size:30px ;
    margin-top:0px ;
    margin-bottom:30px ;
}
.footer-div1 p{
    font-family: 'Geist Mono',sans-serif;
    font-size: 18px;
    font-weight: normal;
}
.contact{
    padding-left:40px
}
.footer-div2 h1{
    font-size: 50px;
    font-family: 'Instrument Sans',sans-serif;
}
.footer-div2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 40px ;
    align-items: flex-end; 
}
.footer-div2 p{
    font-family: 'Geist Mono',sans-serif;
    font-size: 18px;
    font-weight: normal;
}
.footer-div2 h2{
    font-family: 'Anek Tamil',sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size:30px ;
    margin-top:0px ;
    margin-bottom:30px ;
}
.social{
    display:flex;
    flex-direction:column;
}